body{
    margin: 0px;
    background-color: black;
}
header{
    background-color: black;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: sticky;
}
.tabs a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;   
}
.tabs{
    display: flex;
    gap: 30px;
}
.header-button{
    background-color: #151515;
    color: white;
    padding: 15px 30px;
    border: 1px solid #292929;
    border-radius: 10px;
}
main{
  margin: 30px 70px;
  padding: 20px 80px;
  background-color: black;
  
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1200px;
  width: 99%;
}

.service-card {
  background: black;
  border: 1px solid white;
  padding: 30px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.service-card:hover {
  border-color: #444;
  transform: translateY(-5px);
  background: #1a1a1a;
}

.icon {
  font-size: 24px;
  margin-bottom: 15px;
  border: 1px solid white;
  border: 5px;
}

.service-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: white;
}

.service-card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color:white;
  margin-bottom: 20px;
}

.btn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s;
}

.btn:hover {
  color: #00bfff;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}


.contact-section {
  padding: 50px 10%;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.contact-left {
  flex: 1;
  min-width: 350px;
  padding-right: 40px;
}

.contact-left h5 {
  letter-spacing: 3px;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.contact-left h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-left p {
  margin-bottom: 30px;
  color: #ccc;
  max-width: 500px;
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #fff;
  outline: none;
}

.contact-form button {
  background-color: #111;
  color: #fff;
  padding: 14px 30px;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #fff;
  color: #000;
}


.contact-right {
  flex: 1;
  min-width: 350px;
}

.contact-right img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#icon{
  width: 20px;
  display: flex;
  margin-right: 30px;
  padding-right: 30px;
  gap: 0;
}


